.services_container > p {
  margin: 2rem 7rem;
  font-size: 1.5rem;
  color: #22205f;
  font-weight: 600;
}
.services {
  margin: 1rem;
  padding: 0 7rem;
}

.service {
  padding: 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 1rem;
}

.service img {
  max-width: 5rem;
}

.service:hover {
  transform: scale(1.01);
}

.service_box_1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.service_box_2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-grow: 1;
}

@media (max-width: 70rem) {
  .service_box_1 {
    flex-wrap: wrap;
  }
  .service_box_2 {
    flex-wrap: wrap;
  }
}
