.services_container > p {
  margin: 1.5rem 7rem 3rem 7rem;
  font-size: 1.5rem;
  color: #22205f;
  font-weight: 600;
}
.services {
  margin: 1rem;
  padding: 0 7rem;
}

.service {
  width: 30%;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  transition: transform 0.5s ease-in;
}

.service img {
  max-width: 3rem;
}
.service h3 {
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 600;
}

.service p {
  font-size: 0.9375rem;
  text-align: left;
  color: #555555;
}

.service:hover {
  transform: scale(1.01);
  box-shadow: 0.2rem 0.2rem 0.2rem 0 #e8e8e8;
}

.service_box_1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
.service_box_2 > .service {
  width: 50%;
  text-align: center;
}

.service_box_2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-grow: 1;
}

@media (max-width: 830px) {
  .services_container > p {
    text-align: center;
    margin: auto;
  }
  .services {
    padding: 0 1rem;
  }
  .service {
    width: 90% !important;
  }
  .service_box_1 {
    flex-wrap: wrap;
  }
  .service_box_2 {
    flex-wrap: wrap;
  }
}
