.store_container {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.store_container > h3 {
  text-align: center;
  color: #555555;
  font-weight: 600;
}
.store_container > h2 {
  color: #22205f;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}

.contents {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin: 4rem 0;
}

.contents img {
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 1rem 1rem #e8e8e8;
}
.contents h3 {
  font-size: 2rem;
  color: #22205f;
  font-weight: 600;
  margin: 0;
}
.contents p {
  color: #555555;
}

.contents span {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #22205f;
}

.content_description {
  width: 40%;
}

@media (max-width: 1024px) {
  .store_container {
    margin-top: 2rem;
    padding: 1rem;
    gap: 1rem;
  }
  .store_container > h3 {
    font-size: 1.125rem;
  }
  .store_container > h2 {
    font-size: 1.5rem;
  }
  .contents {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .content_description {
    width: 100%;
  }
  .content_description h3 {
    font-size: 1.5rem;
  }
  .contents img {
    width: 100%;
  }
  .contents span {
    margin-top: 2rem;
  }
}
