.business {
  margin-bottom: 3rem;
  text-align: center;
}

.business h2 {
  text-align: center;
  font-size: 2.0625rem;
  color: #22205f;
  font-weight: 600;
}
.business_process {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 8rem;
}

.process {
  width: 25rem;
}
.process_img img {
  max-width: 20rem;
}

.process_description {
  margin-left: 2.5rem;
  text-align: left;
}

.process button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #2575fc;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  border: none;
}

.process p {
  width: 22rem;
  color: #555555;
}

@media (max-width: 830px) {
  .business {
    margin: 3rem 0;
  }
  .business_process {
    justify-content: center;
  }
  .business h2 {
    font-size: 2rem;
  }
  .business_process img {
    max-width: 30rem;
  }
}
