.business {
  margin-bottom: 3rem;
  text-align: center;
}

.business h2 {
  text-align: center;
  font-size: 2.0625rem;
  color: #22205f;
  font-weight: 600;
}
.business_process {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 8rem;
}

.process {
  width: 18rem;
}
.process_img img {
  max-width: 100%;
}

.process_description {
  text-align: left;
}

.process button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #2575fc;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  border: none;
}

.process p {
  width: 18rem;
  color: #555555;
}

@media (max-width: 64rem) {
  .business {
    margin: 3rem 0;
  }
  .business h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
  .business_process {
    padding: 0 2rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  .process {
    width: 100%;
  }
  .process_description h3 {
    font-size: 18px;
  }
  .process p {
    width: 100%;
  }
  .process_img img {
    width: 100%;
  }
}
